.container-grid {
  display: contents;
  /*grid-template-columns: 1.2fr 3fr; height: 100vh;*/
  width: 100%;
  height: 100%;
}

.leftCol {
  padding: 20px;
  background-color: #f0f0f0;
  color: white;
  overflow-y: auto;
  max-height: 600px;
}

.rowRoute {
  display: flex;
  flex-direction: column;

  background-color: #a6d1a3;
  border-radius: 5px;
  text-align: center;
  height: 58px;
  cursor: pointer;
  margin-bottom: 10px;
}


div.context-menu {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 1000;
}

div.context-menu:hover {
  background-color: #f0f0f0;
}

.dataInCard {
margin-top: 20px;
}
