.container-grid {
  display: contents;
  /*grid-template-columns: 1.2fr 3fr; height: 100vh;*/
  width: 100%;
  height: 100%;
}

.leftCol {
  padding: 5px;
  background-color: #f0f0f0;
  color: white;
  overflow-y: auto;
  max-height: 700px;
  max-width: 400px;
}

.rowRoute {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background-color: #8022e0;
  border-radius: 5px;
  text-align: center;
  height: 40px;
  cursor: pointer;
  margin-bottom: 10px;
  color: #000;
}

button {
  border-radius: 15px;
  cursor: pointer;
  border: 2px solid #ccc;
  color: white;
}


h2 {
  margin: 5px;
}

p {
  color: black;
}


input{
  width: 100%;
  height: 40px;
  border-radius: 15px;
}

textarea{
  width: 100%;
}

.description {
  text-align: justify;
}

.mat-stepper-vertical {
  color: #ffffff;
}

.points-scroll{
  padding: 10px;
  margin-top: 20px;
  max-height: 400px;
  overflow-y: auto;
  border: 2px solid #ccc;
  border-radius: 8px;
}

.create-card-route {
  padding: 10px;
  margin-top: 20px;
  border: 2px solid #ccc;
  border-radius: 8px;
}

.inputForm {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.inputFormField{
  width: 100%;
}




