/* .map-container {
  width: 1000px;
  height: 500px;
} */
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: 10px;
}
.example-list {
  display: flex;
  flex-direction: column;
  max-height: 80vh; /* Ограничение высоты контейнера */
  overflow-y: auto; /* Прокрутка, если элементов слишком много */
}

.address-item {
  margin-bottom: 10px;
}
