.container-grid {
  display: contents;
  width: 100%;
  height: 100%;
}

.leftCol {
  padding: 20px;
  background-color: #f0f0f0;
  color: white;
  overflow-y: auto;
  max-height: 400px;
}

.rowRoute {
  display: flex;
  flex-direction: column;
  background-color: #a6d1a3;
  border-radius: 5px;
  text-align: center;
  height: 58px;
  cursor: pointer;
  margin-bottom: 10px;
}

.dataInCard {
  margin-top: 20px;
}


