.container-grids {
  display: contents;
  /*grid-template-columns: 1.2fr 3fr; height: 100vh;*/
  width: 100%;
  height: 100%;
}

.leftColumn {
  padding: 5px;
  background-color: #f0f0f0;
  color: black;
  overflow-y: auto;
  max-height: 600px;
}

button {
  border-radius: 15px;
  cursor: pointer;
  border: 2px solid #ccc;
  color: white;
}

.point-content {
  margin: 5px;
  font-size: 14px;
}

h1 {
  text-align: center;
  margin: 5px;
  border: #f0f0f0 solid 1px;
  border-radius: 10px;
}

img {
  margin: 10px;
  max-height: 500px;
  max-width: 400px;
}

.imageCont {
  text-align: center;
}


.descr{
  text-align: justify;
  text-indent: 10px;
  font-size: 16px;
}

.example-button-container {
  float: right;
  right: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.example-button-container p {
  margin: 0;
  font-size: 16px;
}

.slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slider-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
}

.slide img {
  width: 100%;
  height: auto;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

.prev-btn:hover,
.next-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


.liked {
  background-color: #f32525;
  color: white;
}

.not-liked {
  background-color: gray;
  color: black;
}

h2 {
  text-align: center;
}
.inputForm {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.inputFormField{
  width: 100%;
}


.comment-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 450px;
}

.comment-card {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.comment-text p {
  margin: 0;
  word-wrap: break-word;
  word-break: break-word;
}

.comment-actions {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.comment-actions button {
  font-size: 14px;
}

