.body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.example-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 300px;
}

.login-header {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  text-align: center;
}

.login-header h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  color: #333;
}
