.header{
  height: 50px;
  background: #89a6a6;
}
.grid-page{
  display: grid;
  grid-template-columns: 1.2fr 3fr;
  height: calc(100vh - 50px);
}
.leftCol {
  background-color: #f0f0f0;
}
.button {
  width: 150px;
  box-shadow: inset 0 1px 0 0 #ffffff;
  background: #ffffff linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0 1px 0 #ffffff;
  outline: 0;
  margin: 10px;
}

a {
  text-align: center;
}

.button:last-child {
  margin-right: 2px;
}
.activebutton {
  box-shadow: inset 0 1px 0 0 #dcfbf3;
  background: #bdfad7 linear-gradient(to bottom, #bdfac9 5%, #a6d1a3 100%);
  border: 1px solid #548871;
  color: #ffffff;
  text-shadow: 0 1px 0 #52cc87;
}


.profileButton {
  background-color: #a6d1a3;
  width: 90%;
  margin: 15px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid #dcdcdc;
  cursor: pointer;
  color: white;
}

.client-fio {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}
.client-email {
  text-align: center;
  font-size: 20px;
  margin-bottom: 30px;
  color: #333;
}

.right-col {
  display: flex;
  flex-direction: column; /* Разделение на две колонки */
  background-color: #f1e7e7;
  padding: 20px;
  border-left: 1px solid #dcdcdc;
}

.routes-column,
.places-column {
  flex: 1;
  padding: 10px;
}

h2 {
  font-size: 20px;
  color: #5f6368;
  margin-bottom: 10px;
}

.route-card,
.place-card {
  background: #ffffff;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.route-card h3,
.place-card h3 {
  font-size: 18px;
  color: #333;
  margin: 0 0 10px;
}

.route-card p,
.place-card p {
  font-size: 14px;
  color: #666;
  margin: 0 0 10px;
}

.route-action-button {
  background-color: #89a6a6;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.route-action-button:hover {
  background-color: #6c8989;
}


